http://lib.stat.cmu.edu/datasets/Plasma_Retinol

Determinants of Plasma Retinol and Beta-Carotene Levels

Summary:
Observational studies have suggested that low dietary intake or low plasma concentrations of retinol, beta-carotene, or other carotenoids might be associated with increased risk of developing certain types of cancer.  However, relatively few studies have investigated the determinants of plasma concentrations of these micronutrients. We designed a cross-sectional study to investigate the relationship between personal characteristics and dietary factors, and plasma concentrations of retinol, beta-carotene and other carotenoids. Study subjects (N = 315) were patients who had an elective surgical procedure during a three-year period to biopsy or remove a lesion of the lung, colon, breast, skin, ovary or uterus that was found to be non-cancerous. We display the data for only two of the analytes.
	Plasma concentrations of the micronutrients varied widely from subject to subject.  While plasma retinol levels varied by age and sex, the only dietary predictor was alcohol consumption (R^2 = .38). Plasma beta-carotene levels were log-transformed prior to the analyses due to severe asymmetry of the residuals on the original scale. For log beta-carotene, dietary intake, regular use of vitamins, and intake of fiber were associated with higher plasma concentrations, while Quetelet Index (defined as weight/height^2 in the units kg/m^2) and cholesterol intake were associated with lower plasma levels, adjusting for the other factors (R^2 = .50). There was one extremely high leverage point in alcohol consumption that was deleted prior to the analyses. Plasma concentrations of retinol and beta-carotene were not correlated.
	We conclude that there is wide variability in plasma concentrations of these micronutrients in humans, and that much of this variability is associated with dietary habits and personal characteristics.  A better understanding of the physiological relationship between some personal characteristics and plasma concentrations of these micronutrients will require further study.

Authorization: Contact Authors

Reference: These data have not been published yet but a related reference is
Nierenberg DW, Stukel TA, Baron JA, Dain BJ, Greenberg ER.  Determinants of plasma levels of beta-carotene and retinol.  American Journal of Epidemiology 1989;130:511-521.

Description:  This datafile contains 315 observations on 14 variables.  This data set can be used to demonstrate multiple regression, transformations, categorical variables, outliers, pooled tests of significance and model building strategies. 

Variable Names in order from left to right:
	AGE: Age (years)  
	SEX: Sex (1=Male, 2=Female)  
	SMOKSTAT: Smoking status (1=Never, 2=Former, 3=Current Smoker)  
	QUETELET: Quetelet (weight/(height^2))  
	VITUSE: Vitamin Use (1=Yes, fairly often, 2=Yes, not often, 3=No)  
	CALORIES: Number of calories consumed per day  
	FAT: Grams of fat consumed per day  
	FIBER: Grams of fiber consumed per day  
	ALCOHOL: Number of alcoholic drinks consumed per week  
	CHOLESTEROL: Cholesterol consumed (mg per day)  
	BETADIET: Dietary beta-carotene consumed (mcg per day)  
	RETDIET: Dietary retinol consumed (mcg per day)  
	BETAPLASMA: Plasma beta-carotene (ng/ml)  
	RETPLASMA: Plasma Retinol (ng/ml)

Детерминанты уровней ретинола и бета-каротина в плазме

Краткое содержание:
Обсервационные исследования показали, что низкое потребление с пищей или низкие концентрации ретинола, бета-каротина или других каротиноидов в плазме могут быть связаны с повышенным риском развития некоторых видов рака. Тем не менее, относительно небольшое количество исследований изучало детерминанты концентрации этих микроэлементов в плазме крови. Мы разработали поперечное исследование для изучения взаимосвязи между личными характеристиками и диетическими факторами, а также концентрацией ретинола, бета-каротина и других каротиноидов в плазме. Субъектами исследования (N = 315) были пациенты, перенесшие плановую хирургическую процедуру в течение трехлетнего периода для биопсии или удаления поражений легкого, толстой кишки, молочной железы, кожи, яичников или матки, которые оказались нераковыми. Мы отображаем данные только для двух аналитов.
Концентрации микронутриентов в плазме сильно различались от субъекта к субъекту. В то время как уровни ретинола в плазме варьировались в зависимости от возраста и пола, единственным диетическим предиктором было потребление алкоголя (R ^ 2 = 0,38). Уровни бета-каротина в плазме были логарифмически преобразованы перед анализом из-за серьезной асимметрии остатков по исходной шкале. Для log бета-каротина потребление с пищей, регулярное употребление витаминов и потребление клетчатки были связаны с более высокими концентрациями в плазме, в то время как индекс Кетле (определяемый как вес/рост^2 в единицах кг/м^2) и потребление холестерина были связаны с более низкими уровнями в плазме с поправкой на другие факторы (R ^ 2 = 0,50). В потреблении алкоголя была одна чрезвычайно важная точка воздействия, которая была удалена до анализа. Концентрации ретинола и бета-каротина в плазме не коррелировали.
Мы пришли к выводу, что концентрация этих микроэлементов в плазме крови у людей сильно различается, и большая часть этой изменчивости связана с диетическими привычками и личными характеристиками. Для лучшего понимания физиологических взаимосвязей между некоторыми личностными характеристиками и концентрацией этих микроэлементов в плазме потребуются дальнейшие исследования.

Авторизация: Связаться с авторами  

Ссылка: эти данные еще не опубликованы, но соответствующая ссылка есть.
Ниренберг Д.В., Штукель Т.А., Барон Дж.А., Дейн Б.Дж., Гринберг Э.Р. Детерминанты уровня бета-каротина и ретинола в плазме. Американский журнал эпидемиологии 1989;130:511-521.

Описание: Этот файл данных содержит 315 наблюдений по 14 переменным. Этот набор данных можно использовать для демонстрации множественной регрессии, преобразований, категориальных переменных, выбросов, объединенных тестов значимости и стратегий построения моделей.

Имена переменных в порядке слева направо:  
ВОЗРАСТ: Возраст (лет)  
ПОЛ: Пол (1=мужской, 2=женский)  
SMOKSTAT: Статус курения (1=Никогда, 2=Бывший, 3=Текущий курильщик)  
КЕТЛЕ: Индекс массы тела (вес/(рост^2))  
VITUSE: употребление витаминов (1=да, довольно часто, 2=да, не часто, 3=нет)  
КАЛОРИИ: Количество калорий, потребляемых в день  
ЖИР: граммы жира, потребляемые в день  
ВОЛОКНО: Количество потребляемой клетчатки в граммах в день  
АЛКОГОЛЬ: Количество алкогольных напитков, выпитых за неделю  
ХОЛЕСТЕРИН: потребляемый холестерин (мг в день)  
BETADIET: потребление бета-каротина с пищей (мкг в день)  
RETDIET: потребление ретинола с пищей (мкг в день)  
БЕТАПЛАЗМА: Бета-каротин плазмы (нг/мл)  
RETPLASMA: ретинол плазмы (нг/мл)

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/home/roman/pbc/Untitled Document 1', header=None, delimiter = "\t")
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,64,2,2,21.48380,1,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,2,1,23.87631,1,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,2,2,20.01080,2,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721
3,40,2,2,25.14062,3,2449.5,97.5,26.5,0.5,332.6,1061,864,153,615
4,72,2,1,20.98504,1,1952.1,82.6,16.2,0.0,170.8,2863,1209,92,799

AGE: Age (years)  
SEX: Sex (1=Male, 2=Female)  
SMOKSTAT: Smoking status (1=Never, 2=Former, 3=Current Smoker)  
QUETELET: Quetelet (weight/(height^2))  
VITUSE: Vitamin Use (1=Yes, fairly often, 2=Yes, not often, 3=No)  
CALORIES: Number of calories consumed per day  
FAT: Grams of fat consumed per day  
FIBER: Grams of fiber consumed per day  
ALCOHOL: Number of alcoholic drinks consumed per week  
CHOLESTEROL: Cholesterol consumed (mg per day)  
BETADIET: Dietary beta-carotene consumed (mcg per day)  
RETDIET: Dietary retinol consumed (mcg per day)  
BETAPLASMA: Plasma beta-carotene (ng/ml)  
RETPLASMA: Plasma Retinol (ng/ml)

In [4]:
df = df.rename(columns={0: 'AGE'
                        , 1: 'SEX'
                        , 2: 'SMOKSTAT'
                        , 3: 'QUETELET'
                        , 4: 'VITUSE'
                        , 5: 'CALORIES'
                        , 6: 'FAT',7: 'FIBER', 8: 'ALCOHOL',9: 'CHOLESTEROL', 10: 'BETADIET', 11: 'RETDIET', 12: 'BETAPLASMA', 13: 'RETPLASMA'})

In [5]:
df.head(3)

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
0,64,2,2,21.48380,1,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,2,1,23.87631,1,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,2,2,20.01080,2,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721

In [6]:
df.dtypes

AGE              int64
SEX              int64
SMOKSTAT         int64
QUETELET       float64
VITUSE           int64
CALORIES       float64
FAT            float64
FIBER          float64
ALCOHOL        float64
CHOLESTEROL    float64
BETADIET         int64
RETDIET          int64
BETAPLASMA       int64
RETPLASMA        int64
dtype: object

In [7]:
df.isna().sum()

AGE            0
SEX            0
SMOKSTAT       0
QUETELET       0
VITUSE         0
CALORIES       0
FAT            0
FIBER          0
ALCOHOL        0
CHOLESTEROL    0
BETADIET       0
RETDIET        0
BETAPLASMA     0
RETPLASMA      0
dtype: int64

In [8]:
df.shape

(315, 14)

In [9]:
df['SEX'] = df['SEX'].map({1: 'Male', 2: 'Female'})
df['SMOKSTAT'] = df['SMOKSTAT'].map({1: 'Never', 2: 'Former', 3: 'Current_Smoker'})
df['VITUSE'] = df['VITUSE'].map({1: 'Yes,fairly often', 2: 'Yes,not often', 3: 'No'})

In [10]:
df.head()

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
0,64,Female,Former,21.48380,"Yes,fairly often",1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,Female,Never,23.87631,"Yes,fairly often",1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,Female,Former,20.01080,"Yes,not often",2372.3,83.6,19.1,14.1,257.9,6321,660,328,721
3,40,Female,Former,25.14062,No,2449.5,97.5,26.5,0.5,332.6,1061,864,153,615
4,72,Female,Never,20.98504,"Yes,fairly often",1952.1,82.6,16.2,0.0,170.8,2863,1209,92,799

In [11]:
#df.hist(sharex=True, sharey=True, grid=False)
#plt.tight_layout()

In [12]:
df.columns

Index(['AGE', 'SEX', 'SMOKSTAT', 'QUETELET', 'VITUSE', 'CALORIES', 'FAT',
       'FIBER', 'ALCOHOL', 'CHOLESTEROL', 'BETADIET', 'RETDIET', 'BETAPLASMA',
       'RETPLASMA'],
      dtype='object')

In [13]:
df.head(3)

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
0,64,Female,Former,21.48380,"Yes,fairly often",1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,Female,Never,23.87631,"Yes,fairly often",1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,Female,Former,20.01080,"Yes,not often",2372.3,83.6,19.1,14.1,257.9,6321,660,328,721

In [15]:
df['age_bins'] = pd.cut(x=df['AGE'], bins=[19, 33, 47, 61, 75, 83])

In [31]:
df[['AGE', 'QUETELET', 'CALORIES', 'FAT', 'FIBER', 'ALCOHOL', 'CHOLESTEROL', 'BETADIET', 'RETDIET', 'BETAPLASMA', 'RETPLASMA']].describe()

,AGE,QUETELET,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
count,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000,315.000000
mean,50.146032,26.157374,1796.654603,77.033333,12.788571,3.279365,242.460635,2185.603175,832.714286,189.892063,602.790476
std,14.575226,6.013550,680.347435,33.829443,5.330192,12.322880,131.991614,1473.886547,589.289030,183.000803,208.895474
min,19.000000,16.331140,445.200000,14.400000,3.100000,0.000000,37.700000,214.000000,30.000000,0.000000,179.000000
25%,39.000000,21.799715,1338.000000,53.950000,9.150000,0.000000,155.000000,1116.000000,480.000000,90.000000,466.000000
50%,48.000000,24.735250,1666.800000,72.900000,12.100000,0.300000,206.300000,1802.000000,707.000000,140.000000,566.000000
75%,62.500000,28.853415,2100.450000,95.250000,15.600000,3.200000,308.850000,2836.000000,1037.000000,230.000000,716.000000
max,83.000000,50.403330,6662.200000,235.900000,36.800000,203.000000,900.700000,9642.000000,6901.000000,1415.000000,1727.000000

In [16]:
df\
    .groupby(['age_bins', 'SEX', 'SMOKSTAT', 'VITUSE'])\
    .agg(CALORIES_mean=('CALORIES', 'sum'), FAT_mean=('FAT', 'sum'))\
    .sort_values('SMOKSTAT', ascending=False)\
    .reset_index()

,age_bins,SEX,SMOKSTAT,VITUSE,CALORIES_mean,FAT_mean
0,"(75, 83]",Male,Never,"Yes,not often",2075.2,75.6
1,"(47, 61]",Female,Never,"Yes,not often",11421.4,495.6
2,"(33, 47]",Female,Never,"Yes,not often",29707.4,1256.3
3,"(75, 83]",Female,Never,"Yes,not often",1978.9,81.5
4,"(75, 83]",Female,Never,"Yes,fairly often",3607.5,175.3
...,...,...,...,...,...,...
85,"(61, 75]",Female,Current_Smoker,No,2755.4,104.8
86,"(61, 75]",Female,Current_Smoker,"Yes,fairly often",0.0,0.0
87,"(61, 75]",Female,Current_Smoker,"Yes,not often",1678.5,82.3
88,"(61, 75]",Male,Current_Smoker,No,11770.6,408.8
89,"(47, 61]",Male,Current_Smoker,No,2798.2,125.9

In [18]:
b = pd.pivot_table(df,
               index=["SEX", "SMOKSTAT", "age_bins", "ALCOHOL", "FIBER"],
               values=["CALORIES", "FAT", "CHOLESTEROL"],
               fill_value=0).reset_index()

Потребление клетчатки в день женщинами

In [19]:
b.query('SEX =="Female"').sort_values("FIBER", ascending=False).head(15)

        SEX SMOKSTAT  age_bins  ALCOHOL  FIBER  CALORIES  CHOLESTEROL    FAT
254  Female    Never  (61, 75]      0.6   36.8    2511.5        228.3   92.3
228  Female    Never  (47, 61]      7.3   35.4    1902.9        175.6   72.9
208  Female    Never  (47, 61]      0.0   33.8    2837.3        192.1   84.2
216  Female    Never  (47, 61]      0.6   30.2    2512.0        168.5   64.9
245  Female    Never  (61, 75]      0.0   28.7    2213.9        255.1   52.0
65   Female   Former  (33, 47]      0.5   26.5    2449.5        332.6   97.5
64   Female   Former  (33, 47]      0.5   26.2    3258.3        341.7  101.2
217  Female    Never  (47, 61]      1.2   25.2    3098.9        447.6  106.2
78   Female   Former  (33, 47]      4.5   24.0    2838.8        252.4   88.5
117  Female   Former  (61, 75]      0.0   23.9    2115.4        189.5   84.1
39   Female   Former  (19, 33]      0.7   23.0    1835.9        184.2   74.1
211  Female    Never  (47, 61]      0.1   22.9    4373.6        814.7  235.9
135  Female    Never  (19, 33]      0.7   22.6    2237.4        180.6   77.6
77   Female   Former  (33, 47]      4.1   22.5    1076.6        138.8   33.4
244  Female    Never  (61, 75]      0.0   22.3    2319.9        155.3   97.6

Потребление клетчатки мужчинами

In [20]:
b.query('SEX =="Male"').sort_values("FIBER", ascending=False).head(15)

,SEX,SMOKSTAT,age_bins,ALCOHOL,FIBER,CALORIES,CHOLESTEROL,FAT
309,Male,Never,"(75, 83]",0.0,26.3,1534.7,77.5,54.9
273,Male,Current_Smoker,"(61, 75]",0.0,23.3,2654.9,248.0,126.0
308,Male,Never,"(75, 83]",0.0,21.4,2075.2,228.8,75.6
290,Male,Former,"(61, 75]",7.0,20.8,1407.6,144.1,35.0
306,Male,Never,"(61, 75]",0.0,20.4,2171.6,176.3,76.6
280,Male,Former,"(47, 61]",7.1,19.9,2433.6,271.2,127.6
275,Male,Former,"(33, 47]",0.1,17.8,2431.9,364.6,93.7
289,Male,Former,"(61, 75]",3.1,17.7,1902.4,216.7,76.7
271,Male,Current_Smoker,"(47, 61]",7.0,17.7,2798.2,239.0,125.9
298,Male,Never,"(19, 33]",10.5,17.5,3457.2,452.8,166.0
277,Male,Former,"(33, 47]",22.0,16.8,2706.7,416.0,104.9
307,Male,Never,"(61, 75]",5.6,16.5,1220.7,152.8,34.6
291,Male,Former,"(61, 75]",7.2,16.1,1850.5,247.9,75.9
305,Male,Never,"(61, 75]",0.0,15.9,2055.9,226.5,111.8
295,Male,Former,"(61, 75]",20.0,15.0,2868.5,379.5,128.8

In [21]:
b.query('SEX =="Male"').sort_values("ALCOHOL", ascending=False).head(15)

,SEX,SMOKSTAT,age_bins,ALCOHOL,FIBER,CALORIES,CHOLESTEROL,FAT
274,Male,Current_Smoker,"(61, 75]",203.0,11.3,6662.2,603.0,164.3
283,Male,Former,"(47, 61]",35.0,7.5,2825.8,374.3,97.8
277,Male,Former,"(33, 47]",22.0,16.8,2706.7,416.0,104.9
301,Male,Never,"(47, 61]",21.0,11.2,2026.0,268.2,85.5
295,Male,Former,"(61, 75]",20.0,15.0,2868.5,379.5,128.8
294,Male,Former,"(61, 75]",18.2,14.6,2833.7,365.0,119.9
270,Male,Current_Smoker,"(33, 47]",15.0,11.1,2685.1,432.4,133.1
293,Male,Former,"(61, 75]",14.1,8.4,1751.1,160.3,80.7
298,Male,Never,"(19, 33]",10.5,17.5,3457.2,452.8,166.0
282,Male,Former,"(47, 61]",10.0,9.3,1896.1,296.8,82.2
281,Male,Former,"(47, 61]",8.0,13.4,2712.7,242.6,145.3
292,Male,Former,"(61, 75]",8.0,13.3,2021.2,417.6,94.8
291,Male,Former,"(61, 75]",7.2,16.1,1850.5,247.9,75.9
280,Male,Former,"(47, 61]",7.1,19.9,2433.6,271.2,127.6
290,Male,Former,"(61, 75]",7.0,20.8,1407.6,144.1,35.0