In [99]:
import pandas as pd

In [100]:
df = pd.read_csv('/home/roman/pbc/Untitled Document 1', header=None, delimiter = "\t")
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,64,2,2,21.48380,1,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,2,1,23.87631,1,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,2,2,20.01080,2,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721
3,40,2,2,25.14062,3,2449.5,97.5,26.5,0.5,332.6,1061,864,153,615
4,72,2,1,20.98504,1,1952.1,82.6,16.2,0.0,170.8,2863,1209,92,799

In [101]:
df = df.rename(columns={0: 'AGE'
                        , 1: 'SEX'
                        , 2: 'SMOKSTAT'
                        , 3: 'QUETELET'
                        , 4: 'VITUSE'
                        , 5: 'CALORIES'
                        , 6: 'FAT',7: 'FIBER', 8: 'ALCOHOL',9: 'CHOLESTEROL', 10: 'BETADIET', 11: 'RETDIET', 12: 'BETAPLASMA', 13: 'RETPLASMA'})
#df['SEX'] = df['SEX'].map({1: 'Male', 2: 'Female'})
#df['SMOKSTAT'] = df['SMOKSTAT'].map({1: 'Never', 2: 'Former', 3: 'Current_Smoker'})
#df['VITUSE'] = df['VITUSE'].map({1: 'Yes,fairly often', 2: 'Yes,not often', 3: 'No'})

In [102]:
df.head(3)

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
0,64,2,2,21.48380,1,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,2,1,23.87631,1,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,2,2,20.01080,2,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
train, test = train_test_split(df, train_size = 0.6, random_state=42)

In [105]:
len(train) / len(df)

0.6

In [106]:
val, test = train_test_split(test, train_size = 0.5, random_state=42)

In [107]:
train.head()

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
203,33,2,1,23.93777,2,1366.8,55.9,6.2,0.0,196.0,1151,498,51,602
165,63,2,1,23.92168,1,1282.3,26.4,13.6,0.1,100.6,3753,649,296,701
247,29,2,1,18.60030,2,1041.6,45.4,6.0,3.0,139.5,675,403,129,820
125,43,2,1,20.29700,3,2075.9,96.5,17.3,7.0,271.8,3318,651,427,572
177,48,2,2,22.53187,1,1242.1,37.5,13.3,1.0,148.4,1488,706,800,532

In [108]:
train.columns

Index(['AGE', 'SEX', 'SMOKSTAT', 'QUETELET', 'VITUSE', 'CALORIES', 'FAT',
       'FIBER', 'ALCOHOL', 'CHOLESTEROL', 'BETADIET', 'RETDIET', 'BETAPLASMA',
       'RETPLASMA'],
      dtype='object')

In [109]:
X = ['AGE', 'SEX', 'CALORIES']
cat_features = ['SEX']
y = ['BETAPLASMA']
r = ['RETPLASMA']

In [110]:
from catboost import CatBoostRegressor

In [111]:
model = CatBoostRegressor(cat_features=cat_features, eval_metric="MAPE", verbose=100)

In [112]:
model.fit(train[X], train[y], eval_set=(val[X], val[y]))

Learning rate set to 0.039201
0:	learn: 0.9333199	test: 1.1998665	best: 1.1998665 (0)	total: 1.45ms	remaining: 1.45s
100:	learn: 0.7689358	test: 1.0894771	best: 1.0889219 (97)	total: 36.5ms	remaining: 325ms
200:	learn: 0.6471790	test: 1.0715612	best: 1.0497538 (155)	total: 70.5ms	remaining: 280ms
300:	learn: 0.5770085	test: 1.0831213	best: 1.0497538 (155)	total: 102ms	remaining: 238ms
400:	learn: 0.5310455	test: 1.1230093	best: 1.0497538 (155)	total: 136ms	remaining: 203ms
500:	learn: 0.4857815	test: 1.1585872	best: 1.0497538 (155)	total: 169ms	remaining: 168ms
600:	learn: 0.4431355	test: 1.1778026	best: 1.0497538 (155)	total: 207ms	remaining: 137ms
700:	learn: 0.4042398	test: 1.1850420	best: 1.0497538 (155)	total: 245ms	remaining: 105ms
800:	learn: 0.3650441	test: 1.2001846	best: 1.0497538 (155)	total: 286ms	remaining: 71ms
900:	learn: 0.3301728	test: 1.2199497	best: 1.0497538 (155)	total: 321ms	remaining: 35.3ms
999:	learn: 0.3033908	test: 1.2197585	best: 1.0497538 (155)	total: 355ms	remaining: 0us

bestTest = 1.049753752
bestIteration = 155

Shrink model to first 156 iterations.

In [113]:
model.predict(test[X])

array([226.91936649, 195.61372133, 157.10291795, 233.15977596,
       124.63908287, 233.30465302, 208.83159552, 199.96494184,
       114.35740392, 211.43646729, 171.71738063, 141.50516741,
       220.35531538, 192.90575859, 141.41218485, 297.60010274,
       197.54516364, 253.74546707, 177.08865276, 216.73850119,
       223.49780156, 170.34445564, 139.92646421, 148.19837941,
       215.66470178, 187.65152995, 194.06547812, 213.37123622,
       189.85643077, 217.58546263, 284.41197394, 184.94266481,
       132.81202121, 178.7167848 , 195.61372133, 208.76992796,
       214.71496582, 172.05011789, 137.94205359, 199.83240407,
       223.23003521, 193.21935838, 153.5608058 , 221.89073542,
       244.59643536, 172.74419273, 168.20631845, 165.90524851,
       237.91190828, 200.26856533, 162.12721934, 220.29757706,
       191.2712479 , 208.72485786, 102.19872358, 169.10328777,
       243.69513267, 133.72526811, 371.97477097, 141.97358786,
       287.87262557, 178.07832726, 209.03402501])

In [114]:
test['bet_pred'] = model.predict(test[X])

In [115]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

In [116]:
train.head(3)

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
203,33,2,1,23.93777,2,1366.8,55.9,6.2,0.0,196.0,1151,498,51,602
165,63,2,1,23.92168,1,1282.3,26.4,13.6,0.1,100.6,3753,649,296,701
247,29,2,1,18.60030,2,1041.6,45.4,6.0,3.0,139.5,675,403,129,820

In [117]:
train.columns

Index(['AGE', 'SEX', 'SMOKSTAT', 'QUETELET', 'VITUSE', 'CALORIES', 'FAT',
       'FIBER', 'ALCOHOL', 'CHOLESTEROL', 'BETADIET', 'RETDIET', 'BETAPLASMA',
       'RETPLASMA'],
      dtype='object')

In [118]:
X = ['AGE', 'SEX', 'SMOKSTAT', 'QUETELET', 'VITUSE', 'CALORIES', 'FAT',
       'FIBER', 'ALCOHOL', 'CHOLESTEROL', 'BETADIET', 'RETDIET', 'BETAPLASMA',
       'RETPLASMA']
cat_features = ['SEX', 'SMOKSTAT', 'VITUSE']
y = ['RETPLASMA']

In [119]:
train.dtypes

AGE              int64
SEX              int64
SMOKSTAT         int64
QUETELET       float64
VITUSE           int64
CALORIES       float64
FAT            float64
FIBER          float64
ALCOHOL        float64
CHOLESTEROL    float64
BETADIET         int64
RETDIET          int64
BETAPLASMA       int64
RETPLASMA        int64
dtype: object

In [120]:
parameters = {'cat_features': cat_features, 'eval_metric': 'MAPE', 'verbose': 100}

In [121]:
model = CatBoostRegressor(**parameters)

In [122]:
model.fit(train[X], train[y], eval_set=(val[X], val[y]))

Learning rate set to 0.039201
0:	learn: 0.2759354	test: 0.3004976	best: 0.3004976 (0)	total: 10.9ms	remaining: 10.8s
100:	learn: 0.0407160	test: 0.0656473	best: 0.0656473 (100)	total: 106ms	remaining: 942ms
200:	learn: 0.0180074	test: 0.0421899	best: 0.0421899 (200)	total: 236ms	remaining: 939ms
300:	learn: 0.0101959	test: 0.0330467	best: 0.0330467 (300)	total: 326ms	remaining: 757ms
400:	learn: 0.0074077	test: 0.0309639	best: 0.0309639 (400)	total: 417ms	remaining: 623ms
500:	learn: 0.0055138	test: 0.0302533	best: 0.0302533 (500)	total: 510ms	remaining: 508ms
600:	learn: 0.0040670	test: 0.0301073	best: 0.0301044 (598)	total: 602ms	remaining: 400ms
700:	learn: 0.0031044	test: 0.0300664	best: 0.0300530 (641)	total: 695ms	remaining: 296ms
800:	learn: 0.0024740	test: 0.0301121	best: 0.0300530 (641)	total: 787ms	remaining: 196ms
900:	learn: 0.0019757	test: 0.0301416	best: 0.0300530 (641)	total: 880ms	remaining: 96.7ms
999:	learn: 0.0015773	test: 0.0301068	best: 0.0300530 (641)	total: 969ms	remaining: 0us

bestTest = 0.03005296287
bestIteration = 641

Shrink model to first 642 iterations.