In [193]:
import pandas as pd

In [194]:
df = pd.read_csv('/home/roman/pbc/Untitled Document 1', header=None, delimiter = "\t")
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,64,2,2,21.48380,1,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,2,1,23.87631,1,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,2,2,20.01080,2,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721
3,40,2,2,25.14062,3,2449.5,97.5,26.5,0.5,332.6,1061,864,153,615
4,72,2,1,20.98504,1,1952.1,82.6,16.2,0.0,170.8,2863,1209,92,799

In [195]:
df = df.rename(columns={0: 'AGE'
                        , 1: 'SEX'
                        , 2: 'SMOKSTAT'
                        , 3: 'QUETELET'
                        , 4: 'VITUSE'
                        , 5: 'CALORIES'
                        , 6: 'FAT',7: 'FIBER', 8: 'ALCOHOL',9: 'CHOLESTEROL', 10: 'BETADIET', 11: 'RETDIET', 12: 'BETAPLASMA', 13: 'RETPLASMA'})
df['SEX'] = df['SEX'].map({1: 'Male', 2: 'Female'})
#df['SMOKSTAT'] = df['SMOKSTAT'].map({1: 'Never', 2: 'Former', 3: 'Current_Smoker'})
#df['VITUSE'] = df['VITUSE'].map({1: 'Yes,fairly often', 2: 'Yes,not often', 3: 'No'})

In [196]:
df.head(3)

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
0,64,Female,2,21.48380,1,1298.8,57.0,6.3,0.0,170.3,1945,890,200,915
1,76,Female,1,23.87631,1,1032.5,50.1,15.8,0.0,75.8,2653,451,124,727
2,38,Female,2,20.01080,2,2372.3,83.6,19.1,14.1,257.9,6321,660,328,721

In [197]:
from sklearn.model_selection import train_test_split

In [198]:
train, test = train_test_split(df, train_size = 0.6, random_state=42)

In [199]:
len(train) / len(df)

0.6

In [200]:
val, test = train_test_split(test, train_size = 0.5, random_state=42)

In [201]:
train.head()

,AGE,SEX,SMOKSTAT,QUETELET,VITUSE,CALORIES,FAT,FIBER,ALCOHOL,CHOLESTEROL,BETADIET,RETDIET,BETAPLASMA,RETPLASMA
203,33,Female,1,23.93777,2,1366.8,55.9,6.2,0.0,196.0,1151,498,51,602
165,63,Female,1,23.92168,1,1282.3,26.4,13.6,0.1,100.6,3753,649,296,701
247,29,Female,1,18.60030,2,1041.6,45.4,6.0,3.0,139.5,675,403,129,820
125,43,Female,1,20.29700,3,2075.9,96.5,17.3,7.0,271.8,3318,651,427,572
177,48,Female,2,22.53187,1,1242.1,37.5,13.3,1.0,148.4,1488,706,800,532

In [202]:
train.columns

Index(['AGE', 'SEX', 'SMOKSTAT', 'QUETELET', 'VITUSE', 'CALORIES', 'FAT',
       'FIBER', 'ALCOHOL', 'CHOLESTEROL', 'BETADIET', 'RETDIET', 'BETAPLASMA',
       'RETPLASMA'],
      dtype='object')

In [203]:
X = ['AGE', 'CALORIES']
cat_features = ['SEX']
y = ['BETAPLASMA']
r = ['RETPLASMA']

In [204]:
from catboost import CatBoostRegressor

In [205]:
model = CatBoostRegressor(cat_features=cat_features, eval_metric="MAPE")

In [206]:
model.fit(train[X], train[y], eval_set=(val[X], val[y]))

ValueError: 'SEX' is not in list